In [48]:
import pandas as pd
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense
from tensorflow.keras.optimizers import Adam
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
import numpy as np

df = pd.read_csv('ds_salaries.csv')
df.drop(df.columns[8], axis = 1, inplace = True)

In [49]:
def create_sequence(data, seq_length):
    xlist = []
    ylist = []
    for i in range(len(data)-seq_length):
        seq = data[i:i+seq_length]
        xlist.append(seq)
        ylist.append(data[i+seq_length])
    x_arr = np.array(xlist)
    y_arr = np.array(ylist)
    return x_arr, y_arr

In [50]:
df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,company_location,company_size
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,ES,L
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,US,S
2,2023,MI,CT,ML Engineer,25500,USD,25500,US,US,S
3,2023,SE,FT,Data Scientist,175000,USD,175000,CA,CA,M
4,2023,SE,FT,Data Scientist,120000,USD,120000,CA,CA,M

In [51]:
df.drop(df.columns[5], axis = 1, inplace = True)
df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_in_usd,employee_residence,company_location,company_size
0,2023,SE,FT,Principal Data Scientist,80000,85847,ES,ES,L
1,2023,MI,CT,ML Engineer,30000,30000,US,US,S
2,2023,MI,CT,ML Engineer,25500,25500,US,US,S
3,2023,SE,FT,Data Scientist,175000,175000,CA,CA,M
4,2023,SE,FT,Data Scientist,120000,120000,CA,CA,M

In [52]:
df.drop(df.columns[8], axis = 1, inplace = True)
df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_in_usd,employee_residence,company_location
0,2023,SE,FT,Principal Data Scientist,80000,85847,ES,ES
1,2023,MI,CT,ML Engineer,30000,30000,US,US
2,2023,MI,CT,ML Engineer,25500,25500,US,US
3,2023,SE,FT,Data Scientist,175000,175000,CA,CA
4,2023,SE,FT,Data Scientist,120000,120000,CA,CA

In [53]:
df.drop(df.columns[3], axis = 1, inplace = True)
df.head()

,work_year,experience_level,employment_type,salary,salary_in_usd,employee_residence,company_location
0,2023,SE,FT,80000,85847,ES,ES
1,2023,MI,CT,30000,30000,US,US
2,2023,MI,CT,25500,25500,US,US
3,2023,SE,FT,175000,175000,CA,CA
4,2023,SE,FT,120000,120000,CA,CA

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3755 entries, 0 to 3754
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           3755 non-null   int64
 1   experience_level    3755 non-null   object
 2   employment_type     3755 non-null   object
 3   salary              3755 non-null   int64
 4   salary_in_usd       3755 non-null   int64
 5   employee_residence  3755 non-null   object
 6   company_location    3755 non-null   object
dtypes: int64(3), object(4)
memory usage: 205.5+ KB

In [55]:
df["experience_level"].value_counts()

experience_level
SE    2516
MI     805
EN     320
EX     114
Name: count, dtype: int64

In [56]:
normalizando_experencia = {
    "EN":1,
    "MI":2,
    "SE":3,
    "EX":4
}

df['experience_level'] = df['experience_level'].map(normalizando_experencia)

df.head()

,work_year,experience_level,employment_type,salary,salary_in_usd,employee_residence,company_location
0,2023,3,FT,80000,85847,ES,ES
1,2023,2,CT,30000,30000,US,US
2,2023,2,CT,25500,25500,US,US
3,2023,3,FT,175000,175000,CA,CA
4,2023,3,FT,120000,120000,CA,CA

In [57]:
df.drop(df.columns[5], axis = 1, inplace = True)
df.head()

,work_year,experience_level,employment_type,salary,salary_in_usd,company_location
0,2023,3,FT,80000,85847,ES
1,2023,2,CT,30000,30000,US
2,2023,2,CT,25500,25500,US
3,2023,3,FT,175000,175000,CA
4,2023,3,FT,120000,120000,CA

In [58]:
df.drop(df.columns[5], axis = 1, inplace = True)
df.head()

   work_year  experience_level employment_type  salary  salary_in_usd
0       2023                 3              FT   80000          85847
1       2023                 2              CT   30000          30000
2       2023                 2              CT   25500          25500
3       2023                 3              FT  175000         175000
4       2023                 3              FT  120000         120000

In [59]:
normalizando_tipo_emprego = {
    "FT":1,
    "PT":2,
    "CT":3,
    "FL":4
}

df['employment_type'] = df['employment_type'].map(normalizando_tipo_emprego)

In [60]:
df["employment_type"].value_counts()

employment_type
1    3718
2      17
3      10
4      10
Name: count, dtype: int64

In [61]:
df.head()

   work_year  experience_level  employment_type  salary  salary_in_usd
0       2023                 3                1   80000          85847
1       2023                 2                3   30000          30000
2       2023                 2                3   25500          25500
3       2023                 3                1  175000         175000
4       2023                 3                1  120000         120000

In [62]:
scaler = MinMaxScaler()
# df_normalizado = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)

In [63]:
X = df.iloc[:,:-1].values
y = df.iloc[:, -1].values
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

# Definir a arquitetura do MLP
model = tf.keras.models.Sequential([
    tf.keras.layers.Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    tf.keras.layers.Dense(64, activation='relu'),
])

# Compilar o modelo
model.compile(optimizer='adam', loss='mean_squared_error', metrics=['accuracy'])
model.summary()

# Treinar o modelo
model.fit(X_train, y_train, epochs=100, batch_size=36, validation_data=(X_test, y_test))

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 64)                320

 dense_5 (Dense)             (None, 64)                4160

=================================================================
Total params: 4,480
Trainable params: 4,480
Non-trainable params: 0
_________________________________________________________________
Epoch 1/100
84/84 [==============================] - 1s 4ms/step - loss: 22693675008.0000 - accuracy: 0.0000e+00 - val_loss: 29256202240.0000 - val_accuracy: 0.0000e+00
Epoch 2/100
84/84 [==============================] - 0s 3ms/step - loss: 21846024192.0000 - accuracy: 0.0000e+00 - val_loss: 27202795520.0000 - val_accuracy: 0.0000e+00
Epoch 3/100
84/84 [==============================] - 0s 3ms/step - loss: 21780377600.0000 - accuracy: 0.0000e+00 - val_loss: 25921480704.0000 - val_accuracy: 0.0000e+00
Epoch 4/100
84/84 [==============================] - 0s 3ms/step - loss: 21785393152.0000 - accuracy: 0.0000e+00 - val_loss: 25242820608.0000 - val_accuracy: 0.0000e+00
Epoch 5/100
84/84 [==============================] - 0s 3ms/step - loss: 21693607936.0000 - accuracy: 0.0000e+00 - val_loss: 25604466688.0000 - val_accuracy: 0.0000e+00
Epoch 6/100
84/84 [==============================] - 0s 2ms/step - loss: 21600579584.0000 - accuracy: 0.0000e+00 - val_loss: 27827478528.0000 - val_accuracy: 0.0000e+00
Epoch 7/100
84/84 [==============================] - 0s 2ms/step - loss: 21619613696.0000 - accuracy: 0.0000e+00 - val_loss: 25496436736.0000 - val_accuracy: 0.0000e+00
Epoch 8/100
84/84 [==============================] - 0s 2ms/step - loss: 21493110784.0000 - accuracy: 0.0000e+00 - val_loss: 25259610112.0000 - val_accuracy: 0.0000e+00
Epoch 9/100
84/84 [==============================] - 0s 2ms/step - loss: 21544341504.0000 - accuracy: 0.0000e+00 - val_loss: 25365276672.0000 - val_accuracy: 0.0000e+00
Epoch 10/100
84/84 [==============================] - 0s 2ms/step - loss: 21452648448.0000 - accuracy: 0.0000e+00 - val_loss: 25186074624.0000 - val_accuracy: 0.0000e+00
Epoch 11/100
84/84 [==============================] - 0s 2ms/step - loss: 21363163136.0000 - accuracy: 0.0000e+00 - val_loss: 23572535296.0000 - val_accuracy: 0.0000e+00
Epoch 12/100
84/84 [==============================] - 0s 2ms/step - loss: 21118842880.0000 - accuracy: 0.0000e+00 - val_loss: 29371023360.0000 - val_accuracy: 0.0000e+00
Epoch 13/100
84/84 [==============================] - 0s 2ms/step - loss: 20925079552.0000 - accuracy: 0.0000e+00 - val_loss: 24368543744.0000 - val_accuracy: 0.0000e+00
Epoch 14/100
84/84 [==============================] - 0s 2ms/step - loss: 20812660736.0000 - accuracy: 0.0000e+00 - val_loss: 24451555328.0000 - val_accuracy: 0.0000e+00
Epoch 15/100
84/84 [==============================] - 0s 2ms/step - loss: 20562063360.0000 - accuracy: 0.0000e+00 - val_loss: 24418637824.0000 - val_accuracy: 0.0000e+00
Epoch 16/100
84/84 [==============================] - 0s 2ms/step - loss: 20471996416.0000 - accuracy: 0.0000e+00 - val_loss: 22687840256.0000 - val_accuracy: 0.0000e+00
Epoch 17/100
84/84 [==============================] - 0s 2ms/step - loss: 20097091584.0000 - accuracy: 0.0000e+00 - val_loss: 23701137408.0000 - val_accuracy: 0.0000e+00
Epoch 18/100
84/84 [==============================] - 0s 2ms/step - loss: 19751704576.0000 - accuracy: 0.0000e+00 - val_loss: 22187016192.0000 - val_accuracy: 0.0000e+00
Epoch 19/100
84/84 [==============================] - 0s 3ms/step - loss: 19441932288.0000 - accuracy: 0.0000e+00 - val_loss: 24329926656.0000 - val_accuracy: 0.0000e+00
Epoch 20/100
84/84 [==============================] - 0s 4ms/step - loss: 19160346624.0000 - accuracy: 0.0000e+00 - val_loss: 20961069056.0000 - val_accuracy: 0.0000e+00
Epoch 21/100
84/84 [==============================] - 0s 4ms/step - loss: 18797090816.0000 - accuracy: 0.0000e+00 - val_loss: 19986663424.0000 - val_accuracy: 0.0000e+00
Epoch 22/100
84/84 [==============================] - 0s 4ms/step - loss: 18407168000.0000 - accuracy: 0.0000e+00 - val_loss: 20507226112.0000 - val_accuracy: 0.0000e+00
Epoch 23/100
84/84 [==============================] - 0s 4ms/step - loss: 18147147776.0000 - accuracy: 0.0000e+00 - val_loss: 18653335552.0000 - val_accuracy: 0.0000e+00
Epoch 24/100
84/84 [==============================] - 0s 3ms/step - loss: 17517021184.0000 - accuracy: 0.0000e+00 - val_loss: 17933928448.0000 - val_accuracy: 0.0000e+00
Epoch 25/100
84/84 [==============================] - 0s 4ms/step - loss: 17314529280.0000 - accuracy: 0.0000e+00 - val_loss: 16898025472.0000 - val_accuracy: 0.0000e+00
Epoch 26/100
84/84 [==============================] - 0s 3ms/step - loss: 16488572928.0000 - accuracy: 0.0000e+00 - val_loss: 26480961536.0000 - val_accuracy: 0.0000e+00
Epoch 27/100
84/84 [==============================] - 0s 3ms/step - loss: 16498343936.0000 - accuracy: 0.0000e+00 - val_loss: 16398104576.0000 - val_accuracy: 0.0000e+00
Epoch 28/100
84/84 [==============================] - 0s 3ms/step - loss: 15918628864.0000 - accuracy: 0.0000e+00 - val_loss: 16034620416.0000 - val_accuracy: 0.0000e+00
Epoch 29/100
84/84 [==============================] - 0s 3ms/step - loss: 15418523648.0000 - accuracy: 0.0000e+00 - val_loss: 15143849984.0000 - val_accuracy: 0.0000e+00
Epoch 30/100
84/84 [==============================] - 0s 3ms/step - loss: 14996004864.0000 - accuracy: 0.0000e+00 - val_loss: 14948276224.0000 - val_accuracy: 0.0000e+00
Epoch 31/100
84/84 [==============================] - 0s 3ms/step - loss: 14483565568.0000 - accuracy: 0.0000e+00 - val_loss: 14199976960.0000 - val_accuracy: 0.0000e+00
Epoch 32/100
84/84 [==============================] - 0s 3ms/step - loss: 14058981376.0000 - accuracy: 0.0000e+00 - val_loss: 14615940096.0000 - val_accuracy: 0.0000e+00
Epoch 33/100
84/84 [==============================] - 0s 3ms/step - loss: 13658720256.0000 - accuracy: 0.0000e+00 - val_loss: 13189921792.0000 - val_accuracy: 0.0000e+00
Epoch 34/100
84/84 [==============================] - 0s 3ms/step - loss: 13433294848.0000 - accuracy: 0.0000e+00 - val_loss: 13189101568.0000 - val_accuracy: 0.0000e+00
Epoch 35/100
84/84 [==============================] - 0s 3ms/step - loss: 13200171008.0000 - accuracy: 0.0000e+00 - val_loss: 13122307072.0000 - val_accuracy: 0.0000e+00
Epoch 36/100
84/84 [==============================] - 0s 3ms/step - loss: 12925215744.0000 - accuracy: 0.0000e+00 - val_loss: 13399341056.0000 - val_accuracy: 0.0000e+00
Epoch 37/100
84/84 [==============================] - 0s 4ms/step - loss: 12352886784.0000 - accuracy: 0.0000e+00 - val_loss: 13415503872.0000 - val_accuracy: 0.0000e+00
Epoch 38/100
84/84 [==============================] - 0s 3ms/step - loss: 12104495104.0000 - accuracy: 0.0000e+00 - val_loss: 13145952256.0000 - val_accuracy: 0.0000e+00
Epoch 39/100
84/84 [==============================] - 0s 3ms/step - loss: 11869910016.0000 - accuracy: 0.0000e+00 - val_loss: 11794307072.0000 - val_accuracy: 0.0000e+00
Epoch 40/100
84/84 [==============================] - 0s 3ms/step - loss: 11693940736.0000 - accuracy: 0.0000e+00 - val_loss: 11562354688.0000 - val_accuracy: 0.0000e+00
Epoch 41/100
84/84 [==============================] - 0s 3ms/step - loss: 11459306496.0000 - accuracy: 0.0000e+00 - val_loss: 11376665600.0000 - val_accuracy: 0.0000e+00
Epoch 42/100
84/84 [==============================] - 0s 3ms/step - loss: 11319640064.0000 - accuracy: 0.0000e+00 - val_loss: 11955341312.0000 - val_accuracy: 0.0000e+00
Epoch 43/100
84/84 [==============================] - 0s 3ms/step - loss: 11288623104.0000 - accuracy: 0.0000e+00 - val_loss: 10813934592.0000 - val_accuracy: 0.0000e+00
Epoch 44/100
84/84 [==============================] - 0s 3ms/step - loss: 11031490560.0000 - accuracy: 0.0000e+00 - val_loss: 10647305216.0000 - val_accuracy: 0.0000e+00
Epoch 45/100
84/84 [==============================] - 0s 3ms/step - loss: 10921342976.0000 - accuracy: 0.0000e+00 - val_loss: 10676033536.0000 - val_accuracy: 0.0000e+00
Epoch 46/100
84/84 [==============================] - 0s 3ms/step - loss: 10836212736.0000 - accuracy: 0.0000e+00 - val_loss: 10451158016.0000 - val_accuracy: 0.0000e+00
Epoch 47/100
84/84 [==============================] - 0s 3ms/step - loss: 10760377344.0000 - accuracy: 0.0000e+00 - val_loss: 10529779712.0000 - val_accuracy: 0.0000e+00
Epoch 48/100
84/84 [==============================] - 0s 3ms/step - loss: 10714087424.0000 - accuracy: 0.0000e+00 - val_loss: 10338117632.0000 - val_accuracy: 0.0000e+00
Epoch 49/100
84/84 [==============================] - 0s 3ms/step - loss: 10619575296.0000 - accuracy: 0.0000e+00 - val_loss: 10878241792.0000 - val_accuracy: 0.0000e+00
Epoch 50/100
84/84 [==============================] - 0s 3ms/step - loss: 10592169984.0000 - accuracy: 0.0000e+00 - val_loss: 10269064192.0000 - val_accuracy: 0.0000e+00
Epoch 51/100
84/84 [==============================] - 0s 3ms/step - loss: 10536108032.0000 - accuracy: 0.0000e+00 - val_loss: 10223784960.0000 - val_accuracy: 0.0000e+00
Epoch 52/100
84/84 [==============================] - 0s 3ms/step - loss: 10517204992.0000 - accuracy: 0.0000e+00 - val_loss: 10139768832.0000 - val_accuracy: 0.0000e+00
Epoch 53/100
84/84 [==============================] - 0s 3ms/step - loss: 10486111232.0000 - accuracy: 0.0000e+00 - val_loss: 10109596672.0000 - val_accuracy: 0.0000e+00
Epoch 54/100
84/84 [==============================] - 0s 3ms/step - loss: 10433111040.0000 - accuracy: 0.0000e+00 - val_loss: 10086813696.0000 - val_accuracy: 0.0000e+00
Epoch 55/100
84/84 [==============================] - 0s 3ms/step - loss: 10406111232.0000 - accuracy: 0.0000e+00 - val_loss: 10064588800.0000 - val_accuracy: 0.0000e+00
Epoch 56/100
84/84 [==============================] - 0s 3ms/step - loss: 10406549504.0000 - accuracy: 0.0000e+00 - val_loss: 10050557952.0000 - val_accuracy: 0.0000e+00
Epoch 57/100
84/84 [==============================] - 0s 3ms/step - loss: 10358909952.0000 - accuracy: 0.0000e+00 - val_loss: 10030464000.0000 - val_accuracy: 0.0000e+00
Epoch 58/100
84/84 [==============================] - 0s 3ms/step - loss: 10367299584.0000 - accuracy: 0.0000e+00 - val_loss: 10011039744.0000 - val_accuracy: 0.0000e+00
Epoch 59/100
84/84 [==============================] - 0s 3ms/step - loss: 10369814528.0000 - accuracy: 0.0000e+00 - val_loss: 10012951552.0000 - val_accuracy: 0.0000e+00
Epoch 60/100
84/84 [==============================] - 0s 3ms/step - loss: 10307986432.0000 - accuracy: 0.0000e+00 - val_loss: 9982512128.0000 - val_accuracy: 0.0000e+00
Epoch 61/100
84/84 [==============================] - 0s 3ms/step - loss: 10322029568.0000 - accuracy: 0.0000e+00 - val_loss: 9971206144.0000 - val_accuracy: 0.0000e+00
Epoch 62/100
84/84 [==============================] - 0s 3ms/step - loss: 10283897856.0000 - accuracy: 0.0000e+00 - val_loss: 9958600704.0000 - val_accuracy: 0.0000e+00
Epoch 63/100
84/84 [==============================] - 0s 3ms/step - loss: 10259642368.0000 - accuracy: 0.0000e+00 - val_loss: 10080958464.0000 - val_accuracy: 0.0000e+00
Epoch 64/100
84/84 [==============================] - 0s 3ms/step - loss: 10258363392.0000 - accuracy: 0.0000e+00 - val_loss: 9933047808.0000 - val_accuracy: 0.0000e+00
Epoch 65/100
84/84 [==============================] - 0s 3ms/step - loss: 10256437248.0000 - accuracy: 0.0000e+00 - val_loss: 9930736640.0000 - val_accuracy: 0.0000e+00
Epoch 66/100
84/84 [==============================] - 0s 3ms/step - loss: 10212499456.0000 - accuracy: 0.0000e+00 - val_loss: 9903732736.0000 - val_accuracy: 0.0000e+00
Epoch 67/100
84/84 [==============================] - 0s 4ms/step - loss: 10205347840.0000 - accuracy: 0.0000e+00 - val_loss: 9886012416.0000 - val_accuracy: 0.0000e+00
Epoch 68/100
84/84 [==============================] - 0s 3ms/step - loss: 10182037504.0000 - accuracy: 0.0000e+00 - val_loss: 9871659008.0000 - val_accuracy: 0.0000e+00
Epoch 69/100
84/84 [==============================] - 0s 3ms/step - loss: 10163909632.0000 - accuracy: 0.0000e+00 - val_loss: 9855736832.0000 - val_accuracy: 0.0000e+00
Epoch 70/100
84/84 [==============================] - 0s 3ms/step - loss: 10189441024.0000 - accuracy: 0.0000e+00 - val_loss: 9841047552.0000 - val_accuracy: 0.0000e+00
Epoch 71/100
84/84 [==============================] - 0s 3ms/step - loss: 10136308736.0000 - accuracy: 0.0000e+00 - val_loss: 9824293888.0000 - val_accuracy: 0.0000e+00
Epoch 72/100
84/84 [==============================] - 0s 3ms/step - loss: 10112869376.0000 - accuracy: 0.0000e+00 - val_loss: 9808418816.0000 - val_accuracy: 0.0000e+00
Epoch 73/100
84/84 [==============================] - 0s 3ms/step - loss: 10132786176.0000 - accuracy: 0.0000e+00 - val_loss: 9861560320.0000 - val_accuracy: 0.0000e+00
Epoch 74/100
84/84 [==============================] - 0s 3ms/step - loss: 10095185920.0000 - accuracy: 0.0000e+00 - val_loss: 9774880768.0000 - val_accuracy: 0.0000e+00
Epoch 75/100
84/84 [==============================] - 0s 3ms/step - loss: 10091950080.0000 - accuracy: 0.0000e+00 - val_loss: 9755473920.0000 - val_accuracy: 0.0000e+00
Epoch 76/100
84/84 [==============================] - 0s 3ms/step - loss: 10093820928.0000 - accuracy: 0.0000e+00 - val_loss: 9736131584.0000 - val_accuracy: 0.0000e+00
Epoch 77/100
84/84 [==============================] - 0s 3ms/step - loss: 10022035456.0000 - accuracy: 0.0000e+00 - val_loss: 9720345600.0000 - val_accuracy: 0.0000e+00
Epoch 78/100
84/84 [==============================] - 0s 3ms/step - loss: 9996650496.0000 - accuracy: 0.0000e+00 - val_loss: 9698526208.0000 - val_accuracy: 0.0000e+00
Epoch 79/100
84/84 [==============================] - 0s 3ms/step - loss: 9989956608.0000 - accuracy: 0.0000e+00 - val_loss: 9679208448.0000 - val_accuracy: 0.0000e+00
Epoch 80/100
84/84 [==============================] - 0s 3ms/step - loss: 9983804416.0000 - accuracy: 0.0000e+00 - val_loss: 9660903424.0000 - val_accuracy: 0.0000e+00
Epoch 81/100
84/84 [==============================] - 0s 3ms/step - loss: 9949521920.0000 - accuracy: 0.0000e+00 - val_loss: 9642963968.0000 - val_accuracy: 0.0000e+00
Epoch 82/100
84/84 [==============================] - 0s 3ms/step - loss: 9931324416.0000 - accuracy: 0.0000e+00 - val_loss: 9618480128.0000 - val_accuracy: 0.0000e+00
Epoch 83/100
84/84 [==============================] - 0s 3ms/step - loss: 9907374080.0000 - accuracy: 0.0000e+00 - val_loss: 9697128448.0000 - val_accuracy: 0.0000e+00
Epoch 84/100
84/84 [==============================] - 0s 3ms/step - loss: 9899751424.0000 - accuracy: 0.0000e+00 - val_loss: 9590474752.0000 - val_accuracy: 0.0000e+00
Epoch 85/100
84/84 [==============================] - 0s 3ms/step - loss: 9864501248.0000 - accuracy: 0.0000e+00 - val_loss: 9586908160.0000 - val_accuracy: 0.0000e+00
Epoch 86/100
84/84 [==============================] - 0s 4ms/step - loss: 9855228928.0000 - accuracy: 0.0000e+00 - val_loss: 9534977024.0000 - val_accuracy: 0.0000e+00
Epoch 87/100
84/84 [==============================] - 0s 3ms/step - loss: 9833026560.0000 - accuracy: 0.0000e+00 - val_loss: 9537620992.0000 - val_accuracy: 0.0000e+00
Epoch 88/100
84/84 [==============================] - 0s 3ms/step - loss: 9803035648.0000 - accuracy: 0.0000e+00 - val_loss: 9505068032.0000 - val_accuracy: 0.0000e+00
Epoch 89/100
84/84 [==============================] - 0s 3ms/step - loss: 9799367680.0000 - accuracy: 0.0000e+00 - val_loss: 9651974144.0000 - val_accuracy: 0.0000e+00
Epoch 90/100
84/84 [==============================] - 0s 3ms/step - loss: 9785832448.0000 - accuracy: 0.0000e+00 - val_loss: 9474092032.0000 - val_accuracy: 0.0000e+00
Epoch 91/100
84/84 [==============================] - 0s 3ms/step - loss: 9745364992.0000 - accuracy: 0.0000e+00 - val_loss: 9438383104.0000 - val_accuracy: 0.0000e+00
Epoch 92/100
84/84 [==============================] - 0s 4ms/step - loss: 9759191040.0000 - accuracy: 0.0000e+00 - val_loss: 9432115200.0000 - val_accuracy: 0.0000e+00
Epoch 93/100
84/84 [==============================] - 0s 3ms/step - loss: 9697607680.0000 - accuracy: 0.0000e+00 - val_loss: 9386780672.0000 - val_accuracy: 0.0000e+00
Epoch 94/100
84/84 [==============================] - 0s 3ms/step - loss: 9673086976.0000 - accuracy: 0.0000e+00 - val_loss: 9363144704.0000 - val_accuracy: 0.0000e+00
Epoch 95/100
84/84 [==============================] - 0s 3ms/step - loss: 9662213120.0000 - accuracy: 0.0000e+00 - val_loss: 9363951616.0000 - val_accuracy: 0.0000e+00
Epoch 96/100
84/84 [==============================] - 0s 3ms/step - loss: 9628997632.0000 - accuracy: 0.0000e+00 - val_loss: 9322848256.0000 - val_accuracy: 0.0000e+00
Epoch 97/100
84/84 [==============================] - 0s 3ms/step - loss: 9612696576.0000 - accuracy: 0.0000e+00 - val_loss: 9321495552.0000 - val_accuracy: 0.0000e+00
Epoch 98/100
84/84 [==============================] - 0s 3ms/step - loss: 9617561600.0000 - accuracy: 0.0000e+00 - val_loss: 9285397504.0000 - val_accuracy: 0.0000e+00
Epoch 99/100
84/84 [==============================] - 0s 3ms/step - loss: 9571345408.0000 - accuracy: 0.0000e+00 - val_loss: 9261820928.0000 - val_accuracy: 0.0000e+00
Epoch 100/100
84/84 [==============================] - 0s 3ms/step - loss: 9556245504.0000 - accuracy: 0.0000e+00 - val_loss: 9313416192.0000 - val_accuracy: 0.0000e+00